{% extends "base.html" %}
{% import "iblog/comment_form.html" as comment_form %}

{% block title %}{{ post.title }}{% endblock %}

{% block page_header %}
	<div class="page-header">
		<h1>{{ post.title }}</h1>
	</div>
{% endblock %}

{% block content %}
	<p>{{ post.body }}<p>
	<p>{{ post.created_at.strftime('%H:%M %Y-%m-%d') }}</p>
	<hr>
	{% if post.comments %}
	<h2>大家说:</h2>
		{% for comment in post.comments %}
			<p>{{ comment.body }}</p>
			<p><strong>{{ comment.author }}</strong> <small>on {{ comment.created_at.strftime('%H:%M %Y-%m-%d') }}</small></p>
			{{ comment.text }}
	        <hr>
			{% endfor %}
	{% endif %}
	<h2>说下你的看法吧</h2>
	<form action="/comment/{{ post.slug }}" method="post">
		{{ comment_form.render(form) }}
		<div class="actions">
			<input type="submit" class="btn btn-primary" value="加上去">
		</div>
	</form>
{% endblock %}
